@import url('https://fonts.googleapis.com/css2?family=Titan+One&family=Varela+Round&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    background-color: #13005A;
}

#seleccionar-mascota{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.titulo {
    color: white;
    font-family: 'Titan One', cursive;
    font-size: 32px;
}

.subtitulo{
    color: white;
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 20px;
}

.tarjeta-mokepon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100px;
    background: #00337C;
    padding: 10px;
    border: 3px solid #1C82AD;
    border-radius: 20px;
    color: white;
}

.tarjeta-mokepon img  {
    width: 80px;
}

input {
    display: none;
}

#boton-mascota {
/* Background color, width, height, borde, espaciado interno y externo */

    width: 180px;
    height: 50px;
    background-color: #00337C;
    border: 3px solid #1C82AD;
    margin-top: 30px;
    font-size: 24px;
    border-radius: 20px;
    color: white;
    cursor: pointer;

}

#seleccionar-ataque{
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.boton-ataque {
    width: 110px;
    background: #00337C;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #1C82AD;
    color: white;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
    margin-left: 8px;
}